@use './../mixins' as *;

.btn {
  --width: fit-content;
  --height: 6rem;
  --padding: 2rem;
  --button-color: var(--black);
  --button-background: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--button-background);
  width: var(--width);
  height: var(--height);
  padding: var(--padding);

  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  color: var(--button-color);
  white-space: nowrap;
  text-transform: uppercase;

  transition: all 0.3s ease;

  i {
    font-size: 2.4rem;
    color: var(--accent);
  }

  &:hover {
    --button-color: var(--white);
    --button-background: var(--accent);

    i {
      color: var(--white);
    }
  }

  @include md {
    --height: 5rem;
    --padding: 1.5rem;

    font-size: 1.2rem;
    gap: 0.5rem;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--outline {
    --padding: 2rem 4rem;
    --button-color: var(--white);
    --button-background: transparent;
    --button-border-color: var(--white-30);

    border: 0.1rem solid var(--button-border-color);

    &:hover {
      --button-border-color: var(--accent);
      --button-background: var(--accent);

      i {
        color: var(--white);
      }
    }
  }

  &--accent {
    --button-color: var(--white);
    --button-background: var(--gradient);

    letter-spacing: 0.1em;

    &:hover {
      // --button-background: var(--gradient-hover);
    }
  }

  &--black {
    --button-color: var(--white);
    --button-background: var(--black);

    &:hover {
      --button-color: var(--black);
      --button-background: var(--white);
    }
  }
}