@use './../mixins' as *;

h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 6rem;
  line-height: 120%;
  color: var(--white);

  position: relative;

  span {
    color: var(--accent);
  }

  &::before {
    content: "";
    display: block;
    width: 12.5rem;
    height: 0.2rem;
    background-color: var(--accent);
    position: absolute;
    top: 3.5rem;
    right: calc(100% + 2rem);

    @include md {
      display: none;
    }
  }

  @include md {
    font-size: 4rem;
  }

  @include sm {
    font-size: 3rem;
  }
}

h2 {
  display: flex;
  gap: 2rem;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 120%;

  @include md {
    gap: 1rem;

    font-size: 3rem;
  }

  &::before {
    content: "";
    display: block;
    width: 12.5rem;
    height: 0.2rem;
    background-color: var(--accent);
    position: relative;
    top: 2.5rem;
    flex-shrink: 0;

    @include md {
      width: 3rem;

      top: 1.6rem;
    }
  }
}

h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 120%;

  @include md {
    font-size: 2.5rem;
  }
}

h4 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 120%;

  @include md {
    font-size: 2rem;
  }
}

h5 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
}

p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 130%;

  @include md {
    font-size: 1.4rem;
  }

  @include sm {
    font-size: 1.2rem;
  }
}

.suptitle {

  p {
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @include md {
      font-size: 1.2rem;
    }
  }
}