@use './../mixins' as *;

.faq {
  background-color: var(--white);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include md {
      gap: 3rem;
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include md {
      gap: 3rem;
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid var(--gray-50);

    @include md {
      padding-bottom: 1rem;
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      i {
        transition: all 0.5s ease;
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
      gap: 6.5rem;

      @include md {
        gap: 1.7rem;
      }
    }

    &-count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 8rem;
      background-color: var(--gray);
      transition: all 0.5s ease;
      flex-shrink: 0;

      @include md {
        width: 5rem;
        height: 5rem;
      }

      .faq__item-head:hover & {
        color: var(--white);
        background-color: var(--accent);
      }

      span {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 120%;

        @include md {
          font-size: 2rem;
        }
      }
    }

    &-title {
      color: var(--accent);
      text-transform: uppercase;
      transition: all 0.5s ease;

      .faq__item-head:hover & {
        color: var(--black);
        transform: translateX(2rem);
      }
    }

    &-body {
      padding: 0 var(--title-margin-left);
      background-color: var(--gray-30);
      transition: all 0.5s ease;

      @include md {
        --title-margin-left: 6.7rem;
      }
    }

    &-wrap {
      width: 100%;
      overflow: hidden;
    }
  }

  .accordion-active {
    .faq__item-body {
      padding: 4rem var(--title-margin-left);

      @include md {
        padding: 2rem 2rem 2rem var(--title-margin-left);
      }
    }

    .faq__item-count {
      color: var(--white);
      background-color: var(--accent);
    }

    .faq__item-head {
      color: var(--black);
    }

    .faq__item-title {
      color: var(--black);
      transform: translateX(2rem);
    }

    .faq__item-head i {
      transform: scale(-1, -1);
    }
  }
}