@use './../mixins' as *;

.hero {
  position: relative;
  z-index: 1;
  background-image: url('./../../images/hero/bg.png');
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  // height: 100dvh;

  padding: 22rem 0 6rem;

  @include md {
    background-image: url('./../../images/hero/bg-planshet.png');

    // padding: 10rem 0;
    padding: 10rem 0 21rem;
  }

  @include sm {
    background-image: url('./../../images/hero/bg-mob.png');

    padding: 10rem 0 26rem;
  }

  h1::before {
    width: 0;
    right: calc(100% + 14.5rem);
    transition: all 0.6s ease;
  }

  &.animatedClass {
    h1::before {
      width: 12.5rem;
      right: calc(100% + 2rem);
    }
  }

  &__inner {
    display: flex;
    justify-content: unset;
    align-items: center;
    height: 100%;

    @include md {
      align-items: flex-start;
    }
  }

  &__content {
    max-width: 78rem;
    max-width: 45.35%;
    width: 100%;

    margin-left: 14.5rem;

    display: flex;
    flex-direction: column;
    gap: 6rem;
    position: relative;
    z-index: 2;

    @include md {
      max-width: 52rem;
      max-width: 71.43%;
      margin-left: 0;
      gap: 3rem;
    }

    @include esm {
      max-width: unset;
      gap: 3rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    color: var(--white);

    @include md {
      gap: 2rem;

      .suptitle {
        max-width: 30rem;
      }
    }

    @include sm {
      gap: 1.5rem;
    }
  }

  &__img {
    width: 71rem;
    width: 36.979%;
    height: auto;
    object-fit: contain;

    position: absolute;
    right: 17.86%;
    bottom: 0;
    z-index: 1;

    @include md {
      width: 62.76%;
      right: -6.64%;
    }

    @include sm {
      width: 93.64%;
      right: -31.55%;
    }

    img {
      width: 100%;
    }
  }

  .subtitle {
    max-width: 53.5rem;

    @include md {
      max-width: 69.04%;
    }

    @include sm {
      max-width: 67.04%;
    }
  }
}