@use './../mixins' as *;

.notfound {
  padding: 5rem 0 10rem;
  min-height: fit-content;

  @include md {
    padding: 3.2rem 0 4rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    @include md {
      gap: 4rem;
    }

    .btn {
      padding: var(--padding) 12rem;

      @include md {
        padding: var(--padding) 6rem;
      }

      @include sm {
        --width: 100%;
        padding: var(--padding);
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;

    position: relative;

    span {
      font-family: var(--second-family);
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      text-align: center;

      &:nth-child(1) {
        font-size: 28.1rem;
        color: var(--white);

        @include md {
          font-size: 11.5rem;
          line-height: 100%;
        }

        @include sm {
          font-size: calc(100vw/(393/115));
        }
      }

      &:nth-child(2) {
        font-size: 12rem;
        color: var(--accent);

        position: absolute;
        bottom: 0.7rem;
        left: -0.4rem;
        z-index: 1;

        @include md {
          font-size: 4.9rem;

          left: -0.1rem;
          bottom: -1.5rem;
        }

        @include sm {
          font-size: calc(100vw/(393/49));
        }
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;

    @include md {
      gap: 2rem;
    }

    svg {
      width: 19.7rem;
      height: 8.8rem;

      @include sm {
        width: calc(100vw/(393/197));
        height: calc(100vw/(393/88));
      }
    }

    h3 {
      margin: 0;

      @include md {
        font-size: 2rem;
      }

      @include sm {
        font-size: calc(100vw/(393/20));
      }

      &::before {
        display: none;
      }
    }
  }
}