@use './../mixins' as *;

.page {
  padding-top: 3.5rem;
  min-height: unset;

  @include md {
    padding-top: 2rem;
  }

  &__seo {}

  &__inner {}

  &__head {
    margin-bottom: 3rem;

    @include md {
      margin-bottom: 2rem;
    }

    * {
      margin-left: 0;

      &::before {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 3rem;

    @include md {
      margin-bottom: 2rem;
    }

    * {

      @include md {
        margin-left: 0;
      }

      &::before {

        @include md {
          display: none;
        }
      }
    }
  }

  &__body {}

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      gap: 1.5rem;
    }

    p {

      @include md {
        font-size: 1.4rem;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: var(--title-margin-left);

    @include md {
      gap: 1.5rem;
    }

    p {

      @include md {
        font-size: 1.4rem;
      }
    }
  }
}