@use './../mixins' as *;

.specialists {
  padding-top: 0;
  min-height: unset;

  &__head {
    margin-bottom: 4rem;

    @include md {
      margin-bottom: 2rem;
    }

    & * {
      margin-left: 0;

      &::before {
        display: none;
      }
    }
  }

  &__slider {

    @include md {
      width: 100vw;
      margin-left: calc(var(--container-padding) * -1);
    }
  }

  &__slide {

    @include md {
      max-width: 26.3rem;
    }
  }

  &__item {
    border: 0.1rem solid var(--gray-30);

    &-head {
      width: 100%;
      max-height: 43.2rem;

      @include md {
        max-height: 20.3rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem 2rem 5rem 2rem;

      @include md {
        padding: 2rem 2rem 1.2rem 1rem;
        gap: 1.5rem;
      }
    }

    &-name {

      & * {

        @include md {
          font-size: 1.6rem;
        }
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1.5rem;
      }

      p {
        line-height: 140%;

        @include md {
          font-size: 1.2rem;
        }
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-title {
      color: var(--accent);
    }
  }
}