@use './../mixins' as *;

.tags-block {
  padding: 4rem 0;
  min-height: unset;
  border-bottom: 0.1rem solid var(--page-bg);
  background-color: var(--white);

  @include md {
    padding: 2rem 0;
  }

  &__inner {

  }

  &__tags {

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

    li {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      color: var(--gray);

      &:after {
        content: "/";
      }
    }
  }
}