@use './../mixins' as *;

.types {
  position: relative;
  // height: 93dvh;
  padding: 0;
  background-color: var(--black);
  color: var(--white);

  @include md {
    padding: 4rem var(--container-padding);
  }

  .general__head {
    position: absolute;
    top: 7rem;
    z-index: 4;

    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: calc(var(--container-width) + (var(--container-padding) * 2));
    width: 100%;

    @include md {
      padding: 0;

      position: static;
    }
  }

  .general__head-title {
    max-width: 65rem;
  }

  &__inner {

    @include md {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    height: 100%;

    @include md {
      flex-wrap: wrap;
      gap: 2rem 1rem;
    }

    @include sm {
      gap: 1.5rem 1rem;
    }
  }

  &__item {
    display: flex;
    align-items: flex-end;
    width: calc(100% / 5);
    height: 100dvh;
    padding: 0 0 0 5rem;
    transition: width .8s;
    overflow: hidden;
    position: relative;
    will-change: width;

    @include md {
      flex-direction: column;
      gap: 2rem;
      align-items: unset;
      width: calc(50% - 0.5rem);
      height: fit-content;
      padding: 0;
    }

    @include sm {
      gap: 1rem;

      overflow: visible;
    }

    @include eesm {
      width: 100%;
    }

    &:hover {
      width: calc(100% / 3.6);

      @include md {
        width: calc(50% - 0.5rem);
      }
    }

    &:first-child {
      padding: 0 0 0 10rem;

      @include md {
        padding: 0;
      }
    }

    &:nth-child(1) {
      background-color: var(--black);
    }

    &:nth-child(2) {
      background-color: var(--black-80);
    }

    &:nth-child(3) {
      background-color: var(--black-60);
    }

    &:nth-child(4) {
      background-color: var(--black-40);
    }

    &:nth-child(5) {
      background-color: var(--black-20);
    }

    &-img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      overflow: hidden;
      // aspect-ratio: 384/930;

      @include md {
        width: 100%;
        height: 100%;
        position: relative;
        aspect-ratio: 359/277;
      }

      @include sm {
        aspect-ratio: 172/133;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        background: var(--gradient);
        opacity: 0;
        transition: opacity .8s;

        @include md {
          display: none;
        }

        .types__item:hover & {
          opacity: 0.9;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: var(--black-70);
        opacity: 1;
        transition: opacity .8s;

        @include md {
          display: none;
        }

        .types__item:hover & {
          opacity: 0;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(1);

        @include md {
          filter: none;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 3;
      color: var(--gray);
      transition: all .8s;

      @include md {
        flex-direction: column-reverse;
      }

      .types__item:hover & {
        color: var(--white);
      }

      &::after {
        content: "";
        width: 0.2rem;
        height: 6.4rem;
        background: var(--accent);
        transition: all .8s;

        @include md {
          display: none;
        }

        .types__item:hover & {
          background: var(--white);
        }
      }
    }

    &-count {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 6rem;
      line-height: 120%;
      margin-bottom: 1.5rem;

      @include md {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      @include sm {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      span {
        color: var(--accent);
        transition: all .8s;

        .types__item:hover & {
          color: var(--black);

          @include md {
            color: var(--accent);
          }
        }

      }
    }

    &-title {
      margin-bottom: 2rem;
      width: min-content;

      @include md {
        margin-bottom: 0;
      }

      h5 {
        @include sm {
          font-size: 1.5rem;
        }
      }
    }
  }
}