@use './../mixins' as *;

.footer {
  --footer-padding-top: 7rem;

  overflow: hidden;
  padding-top: var(--footer-padding-top);
  background-color: var(--white);
  position: relative;

  @include md {
    --footer-padding-top: 8rem;

    display: flex;
    align-items: center;
  }

  &::before {
    content: "";
    position: absolute;
    right: -26.2rem;
    bottom: -2.3rem;
    z-index: 5;
    pointer-events: none;
    display: block;
    width: 89.5rem;
    height: 67.8rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODk1IiBoZWlnaHQ9IjY3OSIgdmlld0JveD0iMCAwIDg5NSA2NzkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIG9wYWNpdHk9IjAuNSIgZD0iTTM3Mi4yODggNjc4LjU2NUgyOTcuNjE5TDUwNC4xNzMgNDcyLjAxMkg1NzguODQyTDM3Mi4yODggNjc4LjU2NVpNNzQuNjY4OSA2NzQuMjE5SDBMMjAyLjIwOCA0NzIuMDEySDI3Ni44NzZMNzQuNjY4OSA2NzQuMjE5Wk0zNTMuNTE5IDQ3Mi4wMTJINDI3Ljg3MUwyMjUuNzY4IDY3NC4xMTVIMTUxLjA5OUwzNTIuODExIDQ3Mi40MDNIMjc4LjQ1OEw3NTAuODYyIDBIODI1LjUzMUwzNTMuNTE5IDQ3Mi4wMTJaTTY1My45MDMgNDcyLjAxMkg3MjguMjU2TDUyNy41NDQgNjcyLjcyNUg0NTIuODc1TDY1My4xOTUgNDcyLjQwM0g1NzguODQzTDgyMC4wODQgMjMxLjE2Mkg4OTQuNzUzTDY1My45MDMgNDcyLjAxMlpNNTAyLjU0MSA0NzIuNDAzSDQyNy44NzJMODE3Ljc4NyA4Mi40ODgzSDg5Mi40NTVMNTAyLjU0MSA0NzIuNDAzWiIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyXzIwNDNfMTY5KSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyXzIwNDNfMTY5IiB4MT0iNjI4LjI5MSIgeTE9IjMzLjAwNTkiIHgyPSItMTUuNzYzMyIgeTI9IjYzNy45MTkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0VBMEMwQyIvPgo8c3RvcCBvZmZzZXQ9IjAuNDk1MTkyIiBzdG9wLWNvbG9yPSIjRkYzRTI1IiBzdG9wLW9wYWNpdHk9IjAuNyIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNGRjkzNDUiIHN0b3Atb3BhY2l0eT0iMCIvPgo8L2xpbmVhckdyYWRpZW50Pgo8L2RlZnM+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    @include md {
      display: none;
    }
  }

  /* hack*/
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: calc(100vh - var(--footer-padding-top));
  }

  .burger-menu__inner {
    gap: 10rem;
    max-width: unset;
    margin: 0;
    padding: 0;
    background: var(--white);
    clip-path: none;

    @include md {
      gap: 1rem;
      overflow: unset;
    }

    @include sm {
      gap: 2rem;
    }
  }

  .burger-menu__head {
    width: fit-content;

    @include md {
      width: 50%;
    }

    @include sm {
      width: 100%;
    }
  }

  .burger-menu__title {

    @include md {
      display: none;
    }
  }

  .burger-menu__list {
    padding-left: 14.5rem;
    width: max-content;

    @include md {
      padding-left: 0;
      width: auto;
    }
  }

  .burger-menu__list a {}

  .burger-menu__foot {

    @include md {
      width: 50%;
    }

    @include mmd {
      width: 100%;
    }
  }

  .burger-menu__foot h2 {
    margin-left: 0;

    &::before {
      display: none;
    }
  }

  .burger-menu__foot-tel {
    margin-bottom: 0;
  }

  .burger-menu__foot-btns {

    @include mmd {
      flex-direction: column;
    }
  }

  .header__drop {
    --padding-x: 1rem;

    border-color: var(--gray);

    @include md {
      display: flex;
      padding: 0 0.5rem;
    }

    @include mmd {
      --padding-x: 0.5rem;
    }

    &:hover,
    &.accordion-active {
      border-color: var(--black);

      legend {
        color: var(--black);
      }
    }

    &.accordion-active {

      .header__drop-body {

        @include md {
          padding-top: 1.5rem;
          padding-bottom: 1rem;
        }
      }
    }

    legend {
      padding: 0 1rem;
      color: var(--black);

      @include mmd {
        padding: 0 0.5rem;
      }
    }

    &-head {
      align-items: center;
      height: fit-content;
      padding: 1.8rem var(--padding-x) 1.8rem var(--padding-x);

      @include mmd {
        padding: 0.5rem var(--padding-x) 1rem var(--padding-x);
      }

      i {
        --font-size: 2.4rem;

        color: var(--black);

        @include md {
          --font-size: 2rem;
        }

        @include mmd {
          --font-size: 1.8rem;
        }
      }

      a {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 3rem;
        line-height: 120%;

        text-transform: uppercase;
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        white-space: nowrap;

        @include md {
          font-size: 1.8rem;
        }

        @include xmd {
          font-size: 1.6rem;
        }

        @include xxmd {
          font-size: 1.4rem;
        }

        @include mmd {
          // font-size: 2.2rem;
          font-size: calc(100vw / 21);
        }
      }
    }

    &-body {
      background: rgba(22, 22, 22, 0.84);
      backdrop-filter: blur(0.7rem);
      color: var(--white);

      @include md {
        --padding-x: 1.5rem;
      }

      @include sm {
        --padding-x: 1rem;
      }

      li {

        @include md {
          gap: 1rem;
        }

        &:not(:last-child) {

          @include md {
            margin-bottom: 1rem;
          }
        }
      }

      a {

        @include md {
          font-size: 1.2rem;
        }

        @include sm {
          font-size: 1.3rem;
        }

        &::before {
          background-color: var(--white);
        }
      }
    }

    &-icons {

      @include eesm {
        display: none;
      }

      i {
        color: var(--white);
        border-radius: 50%;
        background-color: var(--accent);
        flex-shrink: 0;
      }
    }
  }

  &__body {
    padding-bottom: 3rem;
    height: 100%;

    @include md {
      padding-bottom: 4rem;
    }

    @include sm {
      padding-bottom: 1.5rem;
    }

    &-link {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 120%;
      color: var(--gray);
      text-decoration: underline !important;

      &:hover {
        color: var(--black);
      }

      @include md {
        font-size: 1.4rem;
      }

      @include sm {
        font-size: 1.3rem;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 114rem;
    width: 100%;
    padding: 2.5rem 0;
    border-top: 0.1rem solid var(--gray-50);

    @include md {
      padding: 5rem 0 4rem;
    }

    @include sm {
      padding: 0.6rem 0 0.7rem;
    }

    a {
      width: auto;
      height: 2rem;

      @include sm {
        height: 1.25rem;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* Стили для подвала внутренних страниц */
.footer {

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .burger-menu__title {

      @include md {
        display: block;
      }
    }

    &-items {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      column-count: 2;
      column-gap: 5.2rem;

      @include md {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
    }

    &-item {
      break-inside: avoid;
      margin-bottom: 3rem;

      @include md {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 0;
      }

      // &:nth-child(1) {
      //   grid-column: 1/2;
      //   grid-row: 1/3;
      // }
    }

    &-title {
      margin-bottom: 3rem;
      color: var(--accent);
      text-transform: uppercase;

      @include md {
        margin-bottom: 0;
      }

      & * {
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-list {

      ul {}

      li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;

        margin-bottom: 2rem;

        @include md {
          margin-bottom: 1.5rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          width: 1rem;
          height: 1rem;
          margin-top: 0.35rem;
          border-radius: 50%;
          background: linear-gradient(82.49deg, #FF9345 0.02%, #FF6625 25.52%, #EA0C0C 63.54%);
          flex-shrink: 0;
        }
      }

      a {
        font-size: 1.4rem;
        position: relative;

        &:hover {
          text-decoration: underline;
          color: var(--accent);
        }
      }
    }
  }

  &-inner {

    @include md {
      --footer-padding-top: 3rem;
    }

    &::before {
      display: none;
    }

    .footer {

      &__menu {

        @include md {
          gap: 2rem;
        }
      }

      &__bottom {
        max-width: 100%;

        @include md {
          border-top: unset;
          padding: 0 0 2rem 0;
        }
      }

      &__body {

        @include md {
          padding-bottom: 4rem;
        }

        @include sm {
          padding-bottom: 4rem;
        }
      }
    }

    .burger-menu {

      &__inner {
        display: grid;
        grid-template-columns: 41.6rem auto 41.5rem;
        gap: 2rem;
        overflow: visible;

        @include md {
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }

        @include sm {
          gap: 3rem;
        }
      }

      &__list {

        a {
          font-size: 1.6rem;

          @include md {
            font-size: 1.4rem;
          }
        }
      }

      &__foot {
        width: 100%;
        // width: calc(100% - 32.9rem - 10.6rem - 38.3rem - 5.2rem - 41.5rem - 2rem);

        &-items {
          gap: 3rem;

          @include md {
            gap: 2rem;
          }
        }

        &-tel {
          font-weight: 400;
          font-size: 3.5rem;

          @include md {
            font-size: 2.5rem;
          }
        }

        &-text {
          a {
            font-size: 2rem;
          }
        }

        &-btns {
          margin-top: 1rem;

          @include md {
            margin-top: 0.5rem;
          }
        }

        &-links {
          margin-top: 1rem;

          @include md {
            margin-top: 1.5rem;
          }
        }
      }

      &__title {

        & * {
          font-size: 3.5rem;
          margin-left: 0;

          @include md {
            font-size: 2.5rem;
          }

          &::before {
            display: none;
          }
        }
      }

      &__list {
        padding-left: 0;
      }
    }
  }
}