@use './../mixins' as *;

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 201;
  height: var(--header-height);

  transition: z-index 0.5s ease;

  &.opened {
    z-index: 100;
    transition-delay: 0.6s;
  }

  .innerPage & {
    background-color: var(--white);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__wrap {
    display: flex;
    align-items: flex-end;
    gap: 10rem;

    @include md {
      justify-content: center;
      width: calc(100% - 12rem);
      margin-left: 6rem;
    }

    .innerPage & {
      align-items: center;
    }
  }

  &__drop {
    --padding-x: 0.8rem;

    display: flex;
    flex-direction: column;

    border: 0.1rem solid var(--accent-20);
    width: fit-content;
    padding: 0 0.8rem;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;

    &.accordion-active {

      border-color: var(--page-bg);

      legend {
        color: var(--page-bg);
      }

      .header__drop-head {

        a {
          color: var(--accent);
        }

        i {
          transform: scale(-1, -1);
        }
      }

      .header__drop-body {
        padding-top: 3rem;
        padding-bottom: 2rem;

        ul {
          padding-bottom: 0.3rem;
        }
      }
    }

    legend {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 130%;
      text-transform: uppercase;
      color: var(--accent);
      transition: all 0.3s ease;
      padding: 0 0.8rem;
      width: fit-content;
    }

    &-head {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      // height: 4.4rem;
      height: 5.2rem;
      padding: 1rem var(--padding-x) 1rem var(--padding-x);
      // height: 6.8rem;
      // padding: 2.6rem var(--padding-x) 2rem var(--padding-x);

      a {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 2rem;
        line-height: 120%;
        color: var(--white);

        &:hover {
          color: var(--accent);
        }

        .innerPage & {
          color: var(--black);
        }
      }

      i {
        --font-size: 1.8rem;
      }
    }

    &-body {
      width: 100%;
      width: calc(100% + 0.3rem);
      padding: 0 var(--padding-x) 0 var(--padding-x);
      background-color: var(--page-bg);
      position: absolute;
      top: 100%;
      right: -0.1rem;
      left: -0.1rem;
      transition: all 0.3s ease;

      ul {
        overflow: hidden;
      }

      li {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      i {
        font-size: 2.4rem;
        color: var(--white);

        border-radius: 50%;
        background-color: var(--accent);
        flex-shrink: 0;
      }

      a {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 125%;

        position: relative;

        &:hover {

          &::before {
            width: 100%;
          }
        }

        &::before {
          content: "";
          position: absolute;
          bottom: -0.2rem;
          width: 0;
          height: 0.1rem;
          background-color: var(--accent);
          transition: all 0.3s ease;
        }
      }
    }

    @include md {
      display: none;
    }
  }

  &__btn {
    --height: 10rem;

    min-width: 37rem;

    position: fixed;
    top: 0;
    right: 0;

    i {
      display: none;
      font-size: 4.2rem;
      color: var(--white);
      pointer-events: none;

      @include md {
        display: flex;
      }
    }

    @include md {
      --width: 6rem;
      --height: 6rem;

      min-width: unset;
      gap: 0;
      padding: 0;
      font-size: 0;
      letter-spacing: 0;
    }
  }
}