@use './../mixins' as *;

.logo {
  width: auto;
  height: 6rem;
  margin-left: 24.5rem;
  flex-shrink: 0;
  transition-delay: 0.5s;

  .header.opened & {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-delay: 0s;
  }

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  @include md {
    height: 4.4rem;
    margin: 0;
  }
}