@use './../mixins' as *;

.plate {
  display: none;

  &--contact {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 90;

    background: var(--black-70);
    backdrop-filter: blur(0.855rem);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(10rem);
    transition: all 0.3s linear;

    &.show {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }

    @include sm {
      display: block;
    }

    .plate__btn {
      font-size: 1.4rem;

      &:hover {

        .path2:before {
          color: var(--accent);
        }
      }
    }

    i {
      background-color: var(--white);
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &--cookie {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 91;
    pointer-events: none;

    .plate__btn {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;

      @include md {
        width: 5rem;
        height: 5rem;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    width: fit-content;
    padding: 1.5rem 2rem 1.5rem 3rem;
    background-color: var(--gray);
    pointer-events: all;

    @include md {
      gap: 1.5rem;
      padding: 0.8rem 2rem 0.8rem 2rem;
    }
  }

  &__text {

    a {
      text-decoration: underline;

      &:hover {
        color: var(--accent);
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    padding: 0.8rem 0;

    a {
      width: 100%;
    }
  }
}