@use './../mixins' as *;

html {
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  --refRes: 1920;
  font-size: calc(100vw / var(--refRes) * 10);

  @include md {
    font-size: 62.5%;
  }

  &.no-scroll {
    overflow: clip;
  }

}

body {
  min-width: 320px;
  background-color: var(--page-bg);

  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;
  color: var(--black);

  cursor: default;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &.innerPage {
    padding-top: var(--header-height)
  }
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;

  .innerPage & {
    background-color: var(--white);
  }
}

section {
  min-height: clamp(93rem, 100vh, 150vh);

  padding: 7rem 0 6rem;
  overflow-x: hidden;
  overflow-y: hidden;

  @include md {
    min-height: clamp(66rem, 100%, 100%);
    padding: 4rem 0 3rem;
  }
}

a {
  color: inherit;

  transition: all 0.3s ease;
}

[class^="__inner"],
[class*="__inner"] {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;

  justify-content: center;
}