@use './../mixins' as *;

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);

  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
  height: 100%;
}

.container-fluid {
  padding: 0;
}