@use './../mixins' as *;

.swiper {

  @include sm {
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
    padding: 0 var(--container-padding);
  }

  &__btns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    z-index: 10;
    height: fit-content;

    @include md {
      order: 3;
    }

    &-text {
      display: none;
      justify-content: center;
      align-items: center;
      padding: 0.6rem 1rem;
      width: 100%;
      background-color: var(--page-bg);
      text-transform: uppercase;

      @include sm {
        display: flex;
      }
    }
  }

  &-button-prev {
    // transform: scale(-1, 1);
  }

  &-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: unset !important;
    margin-top: 2rem;

    &-bullet {
      width: 0.4rem;
      height: 0.4rem;
      margin: 0 0.3rem !important;
      opacity: 1;
      background: var(--gray);
      transition: all 0.3s ease;
      flex-shrink: 0;

      &-active {
        width: 0.6rem;
        height: 0.6rem;
        background: var(--accent);
      }
    }
  }

  &-thumbs {

    .swiper-slide {
      border: 0.1rem solid transparent;
      transition: all 0.3s ease;
    }

    .swiper-slide-thumb-active {
      border-color: var(--accent);
    }
  }
}

[class^="swiper-button-"],
[class*=" swiper-button-"] {
  --swiper-button-size: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--swiper-button-size);
  height: var(--swiper-button-size);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--white);
  transition: all 0.3s ease;
  position: static;
  cursor: pointer;
  opacity: 1;
  flex-shrink: 0;

  @include md {
    --swiper-button-size: 5rem;
  }

  i {
    width: var(--swiper-button-size);
    height: var(--swiper-button-size);
    font-size: var(--swiper-button-size);
    color: var(--gray);
    transition: all 0.3s ease;
  }

  &:active,
  &:hover {
    background-color: var(--accent);

    i {
      color: var(--white);
    }
  }

  &::before,
  &::after {
    display: none;
  }
}

.objects {

  &__slider {

    [class^="swiper-button-"],
    [class*=" swiper-button-"] {
      background-color: var(--gray);

      i {
        color: var(--black);

        @include sm {
          font-size: 1.6rem;
          color: var(--accent);
        }
      }

      @include md {
        display: none;
      }

      @include sm {
        --swiper-button-size: 2.8rem;

        display: flex;
        width: 5rem;
        position: static;
        transform: none;
        background-color: var(--page-bg);
        border-radius: 0;
      }
    }

    .swiper__btns {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      @include sm {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        transform: none;
        top: calc(100% + ((100vw / 353) * 200) + 1rem);
      }
    }

    .swiper-button-prev {
      position: absolute;
      top: 50%;
      left: 4.5rem;
      transform: translateY(-50%);

      &:hover {
        background-color: var(--accent);

        i {
          color: var(--white);
        }
      }
    }

    .swiper-button-next {
      position: absolute;
      top: 50%;
      right: 4.5rem;
      transform: translateY(-50%);

      &:hover {
        background-color: var(--accent);

        i {
          color: var(--white);
        }
      }
    }

    @include sm {
      /* icon-chevron \e915 */
      .icon-arrow-slider-prev:before {
        content: "\e915";
        transform: rotate(90deg);
      }

      /* icon-chevron \e915 */
      .icon-arrow-slider-next:before {
        content: "\e915";
        transform: rotate(-90deg);
      }
    }
  }

  &__slider--step {

    &.swiper-fade .swiper-slide-active .swiper-slide,
    &.swiper-fade .swiper-slide-active .swiper-slide-active {
      pointer-events: all;
    }
  }

  &__gallery {

    .swiper-pagination {
      position: absolute;
      bottom: 1rem;
      margin: 0;
    }

    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
      background-color: var(--white);
    }
  }
}

.command {

  .swiper__btns {
    flex-direction: column;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    @include md {
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-top: 3rem;

      position: static;
      transform: unset;
    }

    @include sm {
      // flex-direction: column;
      gap: 1rem;
      // margin-top: 8rem;
    }
  }

  .swiper-slide.swiper-slide-prev {

    .command__item-head {
      opacity: 0;
      transform: translateX(-40rem);
      transition: all 1.5s ease;

      @include md {
        transition: all 0.5s ease;
      }
    }

    .command__item-body {
      opacity: 0;
      transform: translateX(-50%);
      transition: all 1.5s ease;

      @include md {
        transition: all 0.5s ease;
      }
    }

    .command__item-quote {
      opacity: 0;
      transform: translateX(-100%);
      transition: all 1.75s ease;

      @include md {
        transition: all 0.5s ease;
      }
    }

    .command__item-photo {
      transform: translateX(-100%);
      transition: all 2s ease;

      @include md {
        transition: all 0.5s ease;
      }
    }
  }

  .swiper-slide {

    .command__item-head {
      opacity: 0;
      transform: translateX(40rem);
      transition: all 1.5s ease;

      @include md {
        transition: all 0.5s ease;
      }
    }

    .command__item-body {
      opacity: 0;
      transform: translateX(50%);
      transition-delay: 0.3s;
      transition: all 2s ease, opacity 1s ease;
      position: relative;
      z-index: 0;

      @include md {
        transition: all 0.5s ease;
      }
    }

    .command__item-quote {
      opacity: 0;
      transform: translateX(100%);
      transition-delay: 0.5s;
      transition: all 2s ease, opacity 1.5s ease;
      position: relative;
      z-index: 0;

      @include md {
        transition: all 0.5s ease;
      }
    }

    .command__item-photo {
      transform: translateX(100%);
      transition: all 2s ease;

      @include md {
        transition: all 0.5s ease;
      }
    }
  }

  .swiper-slide-active {

    .command__item-head {
      opacity: 1;
      transition-delay: 0.3s;
      transform: translateX(0);
    }

    .command__item-body {
      opacity: 1;
      transition-delay: 0.3s;
      transform: translateX(0);
    }

    .command__item-quote {
      opacity: 1;
      transition-delay: 0.5s;
      transform: translateX(0);
    }

    .command__item-photo {
      transform: translateX(0);
    }
  }
}